*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: black;
}

.container{
    min-height: 100vh;
    width: 100%;
    /* display: flex;
    justify-content: center; */
    position: relative;
}

.container:before{
    content: "";
    background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(images/download.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    /* opacity: 0.7; */


}

header{
    display: flex;
    justify-content: space-between;
}

.logo{
    padding: 30px 30px;
}
.logo img{
    height: 80px;
   
}
.btn{
    padding: 10px 20px;
    background-color: rgb(250, 51, 51);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.right{
    padding: 50px 200px;

}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    height: 80vh;
    width: 100%;
  
}
.title{
    font-size: 4rem;
    color: white;
    font-weight: bold;
}
.bold{
    color: white;
    font-weight: bold;
}
.email{
    height: 55px;
    width: 400px;
    padding: 10px;
    background: transparent;
    color: white;
    border-radius: 5px;
    border: 1px solid #fff;
}

.search{
    display: flex;
    gap: 10px;
}
.btn2{
    padding: 18px 30px;
    font-weight: bold;
    background-color: rgb(252, 34, 34);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}

@media (max-width: 600px) {

  header {
    padding: 15px 20px;
  }

  .logo img {
    height: 60px;
  }

  .right {
    padding: 50px;
  }

  .btn {
    padding: 8px 14px;
    font-size: 0.9rem;
  }

  .hero {
    height: auto;
    padding: 40px 20px;
  }

  .title {
    font-size: 2.2rem;
    line-height: 1.2;
  }

  .bold {
    font-size: 0.95rem;
  }

  .search {
    flex-direction: column;
    width: 100%;
    max-width: 400px;
  }

  .email {
    width: 100%;
    height: 50px;
  }

  .btn2 {
    width: 100%;
    padding: 14px;
    font-size: 1rem;
  }
    .same {
    width: 100%;
  }

  .flex {
    padding: 0 20px;
  }
 
}



.trending{
    color: white;
 padding: 30px 20px;
}

.flex{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.same {
  width: 200px;
  max-width: 100%;
  transition: 0.2s;
}
.same:hover{
    transform: scale(1.1);
}

.reason{
     color: white;
      padding: 30px 20px;
   
}

.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 40px 80px;

}

@media screen and (max-width: 600px) {
   .grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 40px; /* mobile ke liye thoda chhota padding */
    gap: 10px; /* gap maintain rakh sakte ho */
  }
    
}



.box1{
    background: linear-gradient(135deg, #1B1C3A, #1F1322);
    border-radius: 20px;
    padding: 30px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.item{
    border: 1px solid white;
    background: linear-gradient(135deg, #1B1C3A, #1F1322);
    border-radius: 20px;
    padding: 30px;
    color: white;
}

.monitor{
    height: 100px;
    width: 100px;
}


.asked{
    color: white;
    padding: 30px;
}


.padding{
    padding: 50px;
}


.membership{
  padding: 50px;
  text-align: center;
}

.read{
  color: #fff;
  font-weight: bold;
}

.address{
  display: flex;
  gap: 10px;
  justify-content: center;

}

.address > input{
  padding: 15px;
  width: 400px;
  background-color: #1B1C3A;
  border: none;
  border-radius: 5px;
  color: white;
}



.started{
  padding: 15px 30px;
  background-color: rgb(255, 26, 26);
  color: white;
  border-radius: 5px;

  border: none;

}

@media screen and (max-width: 600px) {
.membership{
  padding: 10px;
}
.read{
  text-align: left;
}
.address{
  flex-wrap: wrap;
  align-items: start;
  justify-content: start;
}
.address > input{
  width: 350px;
}
  
}

.question{
  padding: 30px;

}
a{
  color: rgb(167, 165, 165);

}
.contactus{
  margin-left: 120px;
  color: rgb(167, 165, 165);

}



.father{
  padding: 30px;
  display: flex;
  color: gray;
  justify-content: space-around;

}
@media screen and (max-width: 600px) {
  .contactus{
    margin-left: 5px;
  }
  .father{
    flex-direction: column;
    justify-content: start;
    padding: 10px;
    row-gap: 10px;
  }
  .question{
    padding: 10px;
  }
 
  
}

.language{
  padding-left: 140px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

select{
  padding: 10px 30px;
  background-color: rgb(66, 66, 66);
  color: white;
  border-radius: 5px;
}
.pakistan{
  color: white;
  margin-top: 20px;
}
.page{
  /* padding-bottom: 100px; */

  color: white;
}
.earn{
  color: blue;
}
.btnlast{
  visibility: hidden;
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .language{
    padding-left: 30px;

  }
  .page{
    font-size: 14px;
  }

  .btnlast{
    visibility: visible;
    background-color: red;
    padding: 15px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    border: none;
  }
  
}